In [1]:
import pandas as pd
import numpy as np

import pyspark
from pyspark.sql.functions import col
from pyspark.sql import SQLContext

import nltk
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from nltk import FreqDist

import gensim
from gensim.models import LdaModel
from gensim import models, corpora, similarities

from scipy.stats import entropy

import time
import re

In [2]:
spark = (pyspark.sql.SparkSession.builder
    .master("local")
    .getOrCreate())

In [3]:
books_df = spark.read.json('data/goodreads_books_comics_graphic.json')

In [4]:
books_df.printSchema()

root
 |-- asin: string (nullable = true)
 |-- authors: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- author_id: string (nullable = true)
 |    |    |-- role: string (nullable = true)
 |-- average_rating: string (nullable = true)
 |-- book_id: string (nullable = true)
 |-- country_code: string (nullable = true)
 |-- description: string (nullable = true)
 |-- edition_information: string (nullable = true)
 |-- format: string (nullable = true)
 |-- image_url: string (nullable = true)
 |-- is_ebook: string (nullable = true)
 |-- isbn: string (nullable = true)
 |-- isbn13: string (nullable = true)
 |-- kindle_asin: string (nullable = true)
 |-- language_code: string (nullable = true)
 |-- link: string (nullable = true)
 |-- num_pages: string (nullable = true)
 |-- popular_shelves: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- count: string (nullable = true)
 |    |    |-- name: string (nullable = true)
 |-- publication_day: string (nullable = true)
 |-- publication_month: string (nullable = true)
 |-- publication_year: string (nullable = true)
 |-- publisher: string (nullable = true)
 |-- ratings_count: string (nullable = true)
 |-- series: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- similar_books: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- text_reviews_count: string (nullable = true)
 |-- title: string (nullable = true)
 |-- title_without_series: string (nullable = true)
 |-- url: string (nullable = true)
 |-- work_id: string (nullable = true)

In [5]:
books = books_df.select(['book_id', 'popular_shelves', 'title', 'description']).toPandas()

In [15]:
books.popular_shelves[2]

[Row(count='493', name='to-read'),
 Row(count='113', name='graphic-novels'),
 Row(count='102', name='comics'),
 Row(count='97', name='marvel'),
 Row(count='36', name='captain-america'),
 Row(count='35', name='graphic-novel'),
 Row(count='32', name='comic-books'),
 Row(count='31', name='currently-reading'),
 Row(count='23', name='superheroes'),
 Row(count='22', name='favorites'),
 Row(count='20', name='marvel-comics'),
 Row(count='20', name='comics-graphic-novels'),
 Row(count='19', name='superhero'),
 Row(count='18', name='comic'),
 Row(count='17', name='fiction'),
 Row(count='12', name='graphic-novels-comics'),
 Row(count='11', name='owned'),
 Row(count='10', name='comics-and-graphic-novels'),
 Row(count='10', name='comics-read'),
 Row(count='7', name='read-in-2014'),
 Row(count='5', name='comics-marvel'),
 Row(count='5', name='read-in-2015'),
 Row(count='5', name='marvel-unlimited'),
 Row(count='5', name='ebook'),
 Row(count='5', name='read-comics'),
 Row(count='5', name='super-hero'),
 Row(count='4', name='comic-book'),
 Row(count='4', name='comixology'),
 Row(count='4', name='books-i-own'),
 Row(count='4', name='graphic-novels-and-comics'),
 Row(count='4', name='graphic'),
 Row(count='4', name='espionage'),
 Row(count='3', name='comics-gn'),
 Row(count='3', name='graphic-novel-comics'),
 Row(count='3', name='series'),
 Row(count='3', name='sci-fi'),
 Row(count='3', name='universo-marvel'),
 Row(count='3', name='comics-graphicnovels'),
 Row(count='3', name='comics-manga-graphic-novels'),
 Row(count='3', name='manga-comics'),
 Row(count='3', name='e-books'),
 Row(count='3', name='e-book'),
 Row(count='3', name='digital'),
 Row(count='3', name='my-books'),
 Row(count='3', name='library-books'),
 Row(count='3', name='comics-to-read'),
 Row(count='3', name='brubaker'),
 Row(count='3', name='english'),
 Row(count='2', name='unfinished'),
 Row(count='2', name='default'),
 Row(count='2', name='kindle'),
 Row(count='2', name='quadrinhos'),
 Row(count='2', name='4-stars'),
 Row(count='2', name='graphics'),
 Row(count='2', name='hq'),
 Row(count='2', name='read-in-2016'),
 Row(count='2', name='to-buy'),
 Row(count='2', name='comicbooks'),
 Row(count='2', name='on-my-bookshelf'),
 Row(count='2', name='graphic-novels-read'),
 Row(count='2', name='science-fiction'),
 Row(count='2', name='comics-manga'),
 Row(count='2', name='comic-americano'),
 Row(count='2', name='ed-arg'),
 Row(count='2', name='read-2015'),
 Row(count='2', name='winter-soldier'),
 Row(count='2', name='fumetti'),
 Row(count='2', name='usa'),
 Row(count='2', name='owned-books'),
 Row(count='2', name='comic-books-and-graphic-novels'),
 Row(count='2', name='2014-reads'),
 Row(count='2', name='comics-graphic-novels-manga'),
 Row(count='2', name='adventure'),
 Row(count='2', name='male-authors'),
 Row(count='2', name='favorite-books'),
 Row(count='2', name='fantasy'),
 Row(count='2', name='superhero-comics'),
 Row(count='2', name='graphic_novels'),
 Row(count='2', name='tyler'),
 Row(count='2', name='marvel-graphic-novels'),
 Row(count='2', name='sequential-art'),
 Row(count='2', name='series-marvel'),
 Row(count='2', name='borrowed'),
 Row(count='1', name='komiks'),
 Row(count='1', name='srpski'),
 Row(count='1', name='stripovi'),
 Row(count='1', name='kindle-unlimited'),
 Row(count='1', name='organize-in-excel'),
 Row(count='1', name='12-modifica√ßoes-a-fazer'),
 Row(count='1', name='marvel-collection'),
 Row(count='1', name='graphic-read'),
 Row(count='1', name='2017-reading-challenge'),
 Row(count='1', name='all-things-marvel-related'),
 Row(count='1', name='marvel-reading-order'),
 Row(count='1', name='books-added-in-2012'),
 Row(count='1', name='stark-spangled-banner'),
 Row(count='1', name='saw-the-movie'),
 Row(count='1', name='read-in-august-2017'),
 Row(count='1', name='read-in-2017'),
 Row(count='1', name='one-day-reads')]